<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Lista de Contribuyentes</title>
</head>
<body>
	<table>
		<thead>
			<th>Nombre</th>
			<th>Apellido</th>
			<th>NIT</th>
			<th>Fecha de ingreso</th>
			<th>Importancia</th>
		</thead>
			<th:block th:each="c, row:${contribuyentes}">
				<tr>
					<th th:text="${c.s_nombre}"/>
					<th th:text="${c.s_apellido}"/>
					<th th:text="${c.s_nit}"/>
					<th th:text="${c.f_fecha_ingreso}"/>
					<th th:text="${c.importancia.s_importancia}"/>
				</tr>
			</th:block>
	</table>
</body>
</html>